@inherits Saphyre_InputBase<string>
@using System.Linq.Expressions
@using System.Reflection
@using MudBlazor

<div class="saphyre_textbox">

    <MudTextField @bind-Value="InputValue"
                  Required="true"
                  Class=""
                  Label="@LabelText"
                  Placeholder="" />

    @if (IsValidation)
    {
        <ValidationMessage For="() => InputValue" />
    }

</div>


@code {

}

