@inherits Saphyre_InputBase<DateTime>
@using System.Linq.Expressions
@using System.Reflection
@using MudBlazor

<div class="saphyre_datebox">

	<MudDatePicker @bind-Value="InputValue"
				   Required="true"
				   Class=""
				   DateFormat="dd-MMM-yyyy"
				   Label="@LabelText"
				   Placeholder="" />

	@if (IsValidation)
	{
		<ValidationMessage For="() => InputValue" />
	}

</div>


