@import 'site.scss';
@import 'MudOverrides.scss';

// Forms

.validation-message {
    color: #C16458 !important;
    font-family: Roboto !important;
    font-size: 11px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
    position: absolute;
    bottom: 8px;
    left: 20px;
}

.form-container {
    max-width: 800px;
    margin: 5px auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.form-container-header {
    max-width: 800px;
    margin: 0px auto;
}

.form-group {
    background-color: #f9f9f9;
}

.form-input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #0056b3;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #004494;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item-first {
    flex: 2;
}

.flex-item {
    flex: 1;
}

.full-width {
    flex-basis: 100%;
}

.flex-icon {
    font-size: 1.5rem;
}

// Info Block

.section-spacing {
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-control.form-control-date {
    padding: 0;
}

.no-now-button .k-time-now {
    display: none;
}

.header-color {
    color: #334155;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #198754;
    border-radius: 50%;
    display: inline-block;
}

.countStyles {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-left: 1rem;
    color: #334155;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    transition: opacity 3s ease-out, transform 3s ease-out;
}

.item.item-rounded-lg {
    border-radius: 1.5rem;
}

.bg-body-light {
    background-color: #f6f7f9 !important;
}

.rounded-bottom {
    border-bottom-right-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}

.block {
    height: 11rem;
    margin-bottom: 1.875rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.block.block-rounded > .block-content:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.block-content {
    transition: opacity 2s ease-in-out;
    width: 10rem;
    padding: 1rem 1rem 1rem 1rem;
    overflow-x: visible;
}

.link-no-decoration {
    text-decoration: none;
}


a {
    color: #4c78dd;
}

a:hover {
    color: #224699;
}

@media(max-width: 1440px) {
    .block-content {
        width: 12rem;
    }
}

@media(max-width: 1300px) {
    .block-content {
        width: 10rem;
    }
}

@media(max-width: 768px) {
    .hide-on-mobile {
        display: none;
    }

    .content {
        padding: 0rem;
    }

    .block {
        height: 10rem;
    }

    .block-content {
        width: 9rem;
    }
}
