@inject IJSRuntime JSRuntime

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="col-3 navbar-brand" href="#">
			<img src="@LogoPath" alt="Logo" title="@SelectedCompany" style="height: 40px;">
		</a>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item dropdown">
					<select class="form-select" @onchange="ChangeCompany">
						<option value="saphyre">Saphyre</option>
						<option value="bnp">BNP Paribas</option>
						<option value="chase">Chase</option>
					</select>
				</li>
			</ul>
			<form class="d-flex">
				<button class="btn btn-outline-secondary" type="button" @onclick="ToggleTheme">
					<i class="@(IsDarkMode ? "fas fa-sun" : "fas fa-moon")"></i>
				</button>
			</form>
		</div>
	</div>
</nav>

@code {

	[Parameter]
	public Action<string, bool> Callback { get; set; }

	private string SelectedCompany { get; set; } = "saphyre";
	private string SelectedLightMode => IsDarkMode ? "light" : "dark";
	private bool IsDarkMode { get; set; } = true;

	private string LogoPath => $"images/logo_{SelectedCompany}_{SelectedLightMode}.svg";

	private void ChangeCompany(ChangeEventArgs e)
	{
		SelectedCompany = e.Value.ToString();
		ChangeScheme();
	}

	private void ToggleTheme()
	{
		IsDarkMode = !IsDarkMode;
		ChangeScheme();
	}

	private void ChangeScheme()
	{
		Callback?.Invoke(SelectedCompany, IsDarkMode);
	}

}

