@inherits LayoutComponentBase
@using MudBlazor
@using SaphyreDemo.Templates.Modals
@using SaphyreDemo.Templates.Toasts
@inject IJSRuntime JSRuntime

<PageTitle>Saphyre Demo</PageTitle>

<div class="page @ColorScheme">

    <main>
        <Header Callback="OnColorSchemeChanged" />

        <article class="content">
            <div class="container">
                @Body
            </div>
        </article>
    </main>

</div>

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<Saphyre_Modal />
<Saphyre_Toasts />

@code {
    public string CompanyName { get; set; } = "saphyre";
    public string LightMode => IsLightMode ? "light" : "dark";
    public string ColorScheme => $"{CompanyName}-{LightMode}";
    public bool IsLightMode { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("setBodyClass", ColorScheme);
        }
    }

    private void OnColorSchemeChanged(string company, bool isLightMode)
    {
        CompanyName = company;
        IsLightMode = isLightMode;

        JSRuntime.InvokeVoidAsync("setBodyClass", ColorScheme);

        InvokeAsync(StateHasChanged);
    }
}
